* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #4a86e8;
    padding: 8px;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 120px;
    padding-top: 15px;
}
.header__link {
    margin-left: 40px;
    color: #fff;
}
button{
    margin-top: 150px;
    width: 230px;
    height: 80px;
    border-radius: 5px;
    background-color: #4a86e8;
    color: #fff;
    border-color: #4a86e8;
    
}
.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    margin-left: auto;
    margin-right: auto;

}